:root {
  --text-color: #fff;
  --bg: #000;

  --primary: aqua;
  --windows: #000080;
}

* {
  font-family: "Satisfy", Helvetica, sans-serif;
}

body {
  background-color: var(--bg);
}

header {
  color: var(--text-color);
}

h1 {
  margin-top: 0px;
  z-index: 10;
  display: inline-block;
  position: relative;
  font-size: 40px;
  padding: 15px 15px 15px 15px;
  text-shadow: 2px 2px var(--text-color);
  color: var(--text-color);
}

h1:hover {
  animation: headerGlitch 1s infinite;
  animation-timing-function: steps(1, end);
  background-image: url(./images/slash.png);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  animation: animatedBackground 1.5s infinite linear;
}

h1:hover::after {
  content: "Hooooover me!";
  position: absolute;
  animation: headerAfter 1s infinite;
  animation-timing-function: steps(1, end);
  z-index: 1;
  display: block;
  width: 100%;
  color: var(--primary);
  text-shadow: none;
}

.glitch-bar {
  position: absolute;
  width: 100vw;
  pointer-events: none;
  z-index: 40;
  height: 5px;
  background-color: var(--text-color);
}

.glitch-bar:not(:last-of-type) {
  animation: glitchBar 2s steps(2) infinite alternate-reverse;
}

.glitch-bar:not(:last-of-type)::after {
  content: "";
  width: 30px;
  height: 200vh;
  background-color: var(--text-color);
  position: absolute;
  top: 0;
  left: 0;
  animation: glitchBarVertical 3.6s steps(3) infinite alternate-reverse;
}

.glitch-bar:last-of-type {
  animation: glitchBar2 2s steps(2) infinite alternate-reverse;
}

@keyframes glitchBar {
  0% {
    top: 0;
    left: 30%;
    height: 3px;
  }
  4% {
    top: 30%;
    left: 0%;
    height: 21px;
  }
  8% {
    top: 60%;
    left: 20%;
    height: 2px;
  }
  14% {
    top: 40%;
    left: 80%;
    height: 2px;
  }
  18% {
    top: 50%;
    left: 10%;
    height: 14px;
  }
  20%,
  100% {
    top: 0%;
    left: 0%;
    height: 0px;
  }
}
@keyframes glitchBar2 {
  0% {
    top: 30%;
    right: 30%;
    height: 3px;
  }
  6% {
    top: 15%;
    right: 0%;
    height: 1px;
  }
  9% {
    top: 80%;
    right: 20%;
    height: 2px;
  }
  14% {
    top: 20%;
    right: 80%;
    height: 12px;
  }
  18% {
    top: 45%;
    right: 10%;
    height: 2px;
  }
  20%,
  100% {
    top: 0%;
    right: 0%;
    height: 0px;
  }
}
@keyframes glitchBarVertical {
  0%,
  70% {
    left: 0%;
    width: 0px;
  }
  74% {
    left: 5%;
    width: 21px;
  }
  78% {
    left: 30%;
    width: 2px;
  }
  84% {
    left: 55%;
    width: 84px;
  }
  88% {
    left: 85%;
    width: 14px;
  }
  90%,
  100% {
    left: 0%;
    width: 0px;
  }
}

@keyframes randomPosition {
  0% {
    height: 100px;
    width: 100px;
    top: 40%;
    left: 30%;
  }
  20% {
    height: 70;
    width: 110px;
    top: 70%;
    left: 60%;
  }
  40% {
    height: 100px;
    width: 110px;
    top: 50%;
    left: 40%;
  }
  40% {
    height: 130px;
    width: 150px;
    top: 20%;
    left: 80%;
  }
  80% {
    height: 70px;
    width: 60px;
    top: 55%;
    left: 10%;
  }
  90% {
    height: 160px;
    width: 130px;
    top: 10%;
    left: 30%;
  }
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes headerGlitch {
  0% {
    padding-left: 0px;
  }
  25% {
    padding-left: 10px;
  }
  50% {
    padding-left: 0px;
  }
  75% {
    padding-left: 10px;
  }
}

@keyframes headerAfter {
  0% {
    top: -1px;
    left: 10px;
    filter: blur(0px) hue-rotate(90deg);
  }
  10% {
    top: 13px;
    left: 20px;
    filter: blur(1px) hue-rotate(180deg);
  }
  20% {
    top: 5px;
    left: 20px;
    filter: blur(0px) hue-rotate(45deg);
  }
  30% {
    top: 18px;
    left: 0px;
    filter: blur(1px) hue-rotate(120deg);
  }
  40% {
    top: 13px;
    left: 10px;
    filter: blur(0px) hue-rotate(40deg);
  }
  50% {
    top: 19px;
    left: 10px;
    filter: blur(2px) hue-rotate(240deg);
  }
  60% {
    top: -5px;
    left: 10px;
    filter: blur(0px) hue-rotate(280deg);
  }
  70% {
    top: 9px;
    left: 20px;
    filter: blur(1px) hue-rotate(300deg);
  }
  80% {
    top: 0px;
    left: 20px;
    filter: blur(0px) hue-rotate(340deg);
  }
  90% {
    top: 16px;
    left: 0px;
    filter: blur(1px) hue-rotate(20deg);
  }
  100% {
    top: 18px;
    left: 10px;
    filter: blur(0px) hue-rotate(80deg);
  }
}

main > article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  position: relative;
  margin: 0 auto;
  grid-gap: 30px;
}

@media only screen and (max-width: 950px) {
  main > article {
    grid-template-columns: 1fr;
  }
}

body main > article:first-of-type::after,
body main > article:first-of-type::before {
  content: "";
  pointer-events: none;
  height: 100px;
  width: 100px;
  top: 0;
  left: 0;
  background-color: var(--bg);
  position: absolute;
  z-index: 40;
}

body main > article:first-of-type::after {
  animation: articleCover 1s infinite alternate-reverse;
  animation-timing-function: steps(1, end);
}

body main > article:first-of-type::before {
  height: 100px;
  width: 60px;
  top: unset;
  bottom: 0;
  animation: articleCover2 1s infinite alternate-reverse;
  animation-timing-function: steps(1, end);
}

@keyframes articleCover {
  0% {
    height: 100px;
    top: 30%;
  }
  10% {
    height: 70px;
    top: 15%;
  }
  20% {
    height: 100px;
    top: 12%;
  }
  25%,
  80% {
    height: 0px;
    top: 38%;
  }
  85% {
    height: 70px;
    top: 11%;
  }
  90% {
    height: 160px;
    top: 24%;
  }
  100% {
    height: 50px;
    top: 5%;
  }
}
@keyframes articleCover2 {
  0% {
    height: 100px;
    bottom: 20%;
    width: 60px;
  }
  10%,
  25% {
    height: 0px;
    bottom: 35%;
    width: 50px;
  }
  25% {
    height: 100px;
    bottom: 12%;
  }
  30% {
    height: 80px;
    bottom: 38%;
  }
  40% {
    height: 30px;
    bottom: 8%;
    width: 55px;
  }
  50%,
  80% {
    height: 0;
  }
  85% {
    height: 70px;
    bottom: 11%;
    width: 65px;
  }
  90% {
    height: 0px;
    bottom: 24%;
  }
}

p {
  color: var(--text-color);
  position: relative;
  z-index: 30;
  font-size: 20px;
}

article p:first-of-type:after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 150px solid var(--primary);
  filter: invert(40%);
  top: 15%;
  left: 20%;
  transform: rotate(45deg);
  z-index: -1;
  animation: randomArrowPosition 2s infinite alternate-reverse;
  animation-timing-function: steps(1, end);
}

@keyframes randomArrowPosition {
  0% {
    top: 15%;
    left: 20%;
    filter: invert(40%);
  }
  5% {
    top: 17%;
    left: 18%;
    z-index: 1;
    filter: invert(30%);
  }
  10% {
    top: 15%;
    left: 20%;
    z-index: -1;
    filter: invert(40%);
  }
  15% {
    top: 17%;
    left: 18%;
  }
  80% {
    top: 19%;
    left: 21%;
    filter: invert(30%);
  }
  85% {
    top: 15%;
    left: 20%;
    z-index: 1;
  }
  90% {
    top: 19%;
    left: 21%;
    z-index: -1;
  }
  95% {
    top: 17%;
    left: 18%;
    filter: invert(40%);
  }
}

img {
  width: 50%;
}

article > div {
  position: relative;
  height: 100%;
}

article > div > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: perspective(500px) rotateY(-20deg);
  animation: flatImage 3.8s infinite;
  animation-timing-function: steps(1, end);
}

@keyframes flatImage {
  0% {
    transform: perspective(500px) rotateY(-20deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  44% {
    transform: perspective(500px) rotateY(0deg);
    clip-path: polygon(38% 29%, 84% 29%, 86% 65%, 25% 73%);
  }
  47% {
    transform: perspective(500px) rotateY(20deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  50% {
    transform: perspective(400px) rotateY(-30deg);
    clip-path: polygon(4% 4%, 73% 16%, 30% 100%, 100% 76%);
  }
  54%, 65% {
    transform: perspective(500px) rotateY(-20deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  65% {
    clip-path: polygon(4% 4%, 73% 16%, 30% 100%, 100% 76%);
  }
  67% {
    clip-path: polygon(4% 4%, 24% 51%, 30% 100%, 100% 76%);
  }
  69% {
    clip-path: polygon(4% 4%, 24% 51%, 4% 97%, 100% 76%);
  }
  72% {
    clip-path: polygon(4% 4%, 17% 91%, 80% 100%, 100% 30%);
  }
  74% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    transform: perspective(500px) rotateY(-20deg);
  }
}

article > div > div > div,
.glitch-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/glitch.jpeg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  transform: translate3d(0, 0, 0);
  background-blend-mode: none;
  pointer-events: none;
}

article div div div:nth-child(1) {
  animation: imageOpacity 3.6s infinite;
  animation-timing-function: steps(1, end);
}

article div div div:nth-child(n + 2),
.glitch-image {
  animation-duration: 2s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
}

article div div div:nth-child(2) {
  background-color: transparant;
  background-blend-mode: overlay;
  animation-name: glitch-anim-1;
}

article div div div:nth-child(3) {
  background-color: transparent;
  background-blend-mode: overlay;
  animation-name: glitch-anim-2;
}

article div div div:nth-child(4) {
  background-color: var(--primary);
  background-blend-mode: overlay;
  animation-name: glitch-anim-3;
}

article div div div:nth-child(5),
.glitch-image {
  background-color: var(--primary);
  background-blend-mode: overlay;
  animation-name: glitch-anim-flash;
  filter: hue-rotate(-90deg);
}

@keyframes imageOpacity {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  73% {
    opacity: 1;
  }
}

@keyframes glitch-anim-1 {
  0% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  6% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  8% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  14% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  18% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
  3% {
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  5% {
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }
  7% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  9% {
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }
  11% {
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }
  13% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  15% {
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }
  17% {
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }
  19% {
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }
  20% {
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-anim-3 {
  0% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }
  1.5% {
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }
  2% {
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  2.5% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  3% {
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  5% {
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  5.5% {
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  7% {
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  8% {
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  9% {
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  10.5% {
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  11% {
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  13% {
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  14% {
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  14.5% {
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  15% {
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  16% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  18% {
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  20% {
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * 5px), 0) scale3d(-1, -1, 1);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-anim-text {
  0% {
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  2% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  4% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  5% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  6% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  7% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  8% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  9% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  9.9% {
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
  }
  10%,
  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes glitch-anim-flash {
  0%,
  5% {
    opacity: 0.2;
    transform: translate3d(10px, 5px, 0);
  }
  5.5%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

article p {
  z-index: 10;
  position: relative;
  color: var(--text-color);
  mix-blend-mode: lighten;
}

article p::before {
  content: "I found myself alone in a subway. It was a late night and I was taking the subway back to the hotel I was staying at. I honestly never thought that a subway would stay open this late, so it didn't surprise me that I was the only one. It was a bit creepy, considering I had never been on an empty subway before. The subway then came to a screeching stop. I was horrified wren I looked around and didn't recognize where I was. This definitely wasn't my stop, so I thought that maybe there was a problem. I felt my heart race when a man entered the subway. He was dressed in all black, including a black hat that covered his face. There was something very odd about him, but I tried not to stare at him too much.";
  position: absolute;
  top: 0;
  width: 100%;
  clip: rect(0, 0, 0, 0);
}

article p::before {
  left: -1px;
  text-shadow: 4px 0 red;
  animation: textGlitch 0.8s infinite ease-in-out alternate-reverse;
}

@keyframes textGlitch {
  0% {
    clip: rect(36px, 9999px, 9px, 0);
  }
  25% {
    clip: rect(25px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 102px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 252px, 0);
  }
  85% {
    clip: rect(30px, 9999px, 92px, 0);
  }
  100% {
    clip: rect(91px, 9999px, 98px, 0);
  }
}

svg {
  width: 300px;
  animation: svgMargin 3s infinite reverse;
  animation-timing-function: steps(1, end);
}

svg g:nth-of-type(1) {
  animation: svgTopCrack 3s infinite reverse;
  animation-timing-function: steps(1, end);
}

svg g:nth-of-type(2) {
  animation: svgBottomCrack 2s infinite reverse;
  animation-timing-function: steps(1, end);
}

svg g:nth-of-type(3) {
  animation: svgMiddleCrack 2.3s infinite reverse;
  animation-timing-function: steps(1, end);
}

svg .cls-1 {
  fill: none;
}

svg .cls-3 {
  font-size: 16.75px;
  fill: var(--text-color);
  font-family: NexaBold, Nexa Bold;
}

svg .cls-4 {
  letter-spacing: 0.02em;
}

svg .cls-5 {
  letter-spacing: -0.02em;
}

@keyframes svgMargin {
  0% {
    margin-left: 0px;
  }
  4% {
    margin-left: 7px;
  }
  6% {
    margin-left: 0px;
  }
  12% {
    margin-left: 10px;
  }
  13% {
    margin-left: 0px;
  }
  16% {
    margin-left: 15px;
  }
  19% {
    margin-left: 0px;
  }
  20% {
    margin-left: 12px;
  }
  25%,
  100% {
    margin-left: 0px;
  }
}

@keyframes svgTopCrack {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  77% {
    opacity: 1;
  }
  78% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
  83% {
    opacity: 0;
  }
  84%,
  100% {
    opacity: 1;
  }
}

@keyframes svgBottomCrack {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  23% {
    opacity: 0;
  }
  24%,
  100% {
    opacity: 1;
  }
}

@keyframes svgMiddleCrack {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  5% {
    opacity: 1;
    transform: translateX(0px);
  }
  10% {
    opacity: 1;
    transform: translateX(5px);
  }
  15% {
    opacity: 1;
    transform: translateX(0px);
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}

body main > article:last-of-type div:first-of-type {
  display: unset;
  position: relative;
  background-repeat: no-repeat;
  animation: imgGlitch 4s infinite;
  mix-blend-mode: screen;
  opacity: 1;
  display: block;
  animation-timing-function: steps(1, end);
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: contain;
}

@keyframes imgGlitch {
  0% {
    filter: hue-rotate(30deg);
    background-image: url(./images/portrait.jpeg);
  }
  3% {
    filter: hue-rotate(0deg);
    background-image: url(./images/portrait-negatief.png);
  }
  7% {
    background-image: url(./images/portrait-outline.png);
  }
  8% {
    filter: hue-rotate(30deg);
    background-image: url(./images/portrait-negatief.png);
  }
  10% {
    background-image: url(./images/portrait.jpeg);
  }
  40% {
    filter: hue-rotate(0deg);
    background-image: url(./images/portrait-negatief.png);
  }
  42% {
    background-image: url(./images/portrait.jpeg);
  }
  43% {
    background-image: url(./images/portrait-outline.png);
  }
  50% {
    filter: hue-rotate(240deg);
    background-image: url(./images/portrait.jpeg);
  }
  52% {
    filter: hue-rotate(0deg);
  }
  82% {
    filter: hue-rotate(50deg);
  }
  84% {
    filter: hue-rotate(340deg);
  }
  88% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(70deg);
  }
}

body main {
  margin-top: 60px;
}

body main > div.glitch-image {
  height: 150vh;
}

body > div:first-of-type {
  max-height: 100%;
  overflow: hidden;
  pointer-events: none;
}

body > div:first-of-type::after {
  content: "E";
  position: absolute;
  font-size: 1400px;
  top: 0%;
  left: 17%;
  z-index: 30;
  color: var(--bg);
  mix-blend-mode: overlay;
  animation: backgroundLetter 1.9s infinite;
  animation-timing-function: steps(1, end);
}

@keyframes backgroundLetter {
  0% {
    left: 17%;
    transform: rotate(30deg);
  }
  6% {
    left: 25%;
    transform: rotate(0deg);
  }
  10% {
    left: 8%;
    transform: rotate(90deg);
  }
  12% {
    left: 25%;
    transform: rotate(0deg);
  }
  15%,
  100% {
    left: 15%;
  }
}

body > div:last-of-type {
  background-image: url('./images/png_Tekengebied\ 1.png');
  position: absolute;
  min-height: 200vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  animation: pngBackground 10s infinite;
  pointer-events: none;
  animation-timing-function: steps(1, end);
  pointer-events: none;
}

@keyframes pngBackground {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  10%, 100% {
    opacity: 0;
  }
}

article:last-of-type a {
  display: flex;
  text-decoration: none;
}

article:last-of-type a button {
  margin: auto;
  display: block;
  padding: 10px 30px;
}

article:last-of-type a button {
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-family: 'RobotoMono', monospace;
  padding: 25px;
  width: 170px;
  font-size:14px;
  margin: 250px auto;
  text-align: center;
  position: relative;
  background-color: transparent;
}
article:last-of-type a button:hover {
  cursor: pointer;
}
article:last-of-type a button:hover span:after {
  animation: buttonGlitcher 0.3s cubic-bezier(.26,.41,.36,.9) reverse both infinite;
}
article:last-of-type a button:hover span:before {
  animation: buttonGlitcher 0.3s cubic-bezier(.26,.41,.36,.9) both infinite;
}

article:last-of-type a button span:after, article:last-of-type a button span:before {
  box-sizing: border-box;
  padding: 25px;
  width: 170px;
  content: 'Break my computer';
  position: absolute;
  font-size: 14px;
  top: -1px;
  left: -1px;
  opacity: .7;
}

article:last-of-type a button span:before {
  border: 2px solid var(--primary);
  z-index: -2;
  color: var(--primary);
}

article:last-of-type a button span:after {
  border: 2px solid var(--primary);
  z-index: -2;
  color: var(--primary);
  filter: hue-rotate(90deg)
}

@keyframes buttonGlitcher {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, 3px);
  }
  80% {
    transform: translate(3px, -3px);
  }
  100% {
    transform: translate(0);
  }
}

#toggle {
  display: none;
}

#toggle p, #toggle a {
  font-family: monospace;
}

#toggle:target {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  animation: targetToggle 3s forwards steps(1, end);
  cursor: not-allowed;
}

@keyframes targetToggle {
  0% {
    background-image: url('./images/png_Tekengebied\ 1.png')
  }
  100% {
    background-color: var(--windows);
  }
}

#toggle:target div:first-of-type {
  margin: 30px;
}

#toggle:target div {
  margin-left: 30px;
  margin-top: 20px;
}

#toggle:target p {
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  overflow: hidden;
  filter: unset;
  white-space: nowrap;
  width: 0%;
}
#toggle:target p a {
  color: #fff;
  text-decoration: none;
  cursor: help;
}

#toggle:target div:nth-of-type(1) p:nth-of-type(1) {
  animation: typeWriter 1s steps(110) forwards;
  animation-delay: 3s
}
#toggle:target div:nth-of-type(2) p:nth-of-type(1){
  animation: typeWriter 1s steps(100) forwards;
  animation-delay: 4s
}
#toggle:target div:nth-of-type(3) p:nth-of-type(1){
  animation: typeWriter 1s linear forwards;
  animation-delay: 5s;
}
#toggle:target div:nth-of-type(3) p:nth-of-type(2){
  animation: typeWriter 1s linear forwards;
  animation-delay: 6s;
}
#toggle:target div:nth-of-type(3) p:nth-of-type(3){
  animation: typeWriter 1s linear forwards;
  animation-delay: 7s;
}
#toggle:target div:nth-of-type(4) p:nth-of-type(1){
  animation: typeWriter 1s linear forwards;
  animation-delay: 8s;
}
#toggle:target div:nth-of-type(5) p:nth-of-type(1){
  animation: typeWriter 1s linear forwards;
  animation-delay: 9s;
}
#toggle:target div:nth-of-type(5) p:nth-of-type(2){
  animation: typeWriter 1s linear forwards;
  animation-delay: 10s;
}
#toggle:target div:nth-of-type(6) p:nth-of-type(1){
  animation: typeWriter 1s linear forwards;
  animation-delay: 11s;
}
#toggle:target div:nth-of-type(6) p:nth-of-type(2){
  animation: typeWriter 1s linear forwards;
  animation-delay: 12s;
}
#toggle:target div:nth-of-type(7) p:nth-of-type(1){
  animation: typeWriter 1s linear forwards;
  animation-delay: 13s;
}
#toggle:target div:nth-of-type(7) p:nth-of-type(2){
  animation: typeWriter 1s linear forwards;
  animation-delay: 14s;
}
#toggle:target div:nth-of-type(7) p:nth-of-type(3){
  animation: typeWriter 1s linear forwards;
  animation-delay: 15s;
}
#toggle:target div:nth-of-type(8) p:nth-of-type(1){
  animation: typeWriter 1s linear forwards;
  animation-delay: 16s;
}
#toggle:target div:nth-of-type(8) p:nth-of-type(2){
  animation: typeWriter 1s linear forwards;
  animation-delay: 17s;
}
#toggle:target div:nth-of-type(9) p:nth-of-type(1){
  animation: typeWriter 1s linear forwards;
  animation-delay: 18s;
}
#toggle:target div:nth-of-type(10) p:nth-of-type(1){
  animation: typeWriter 1s linear forwards;
  animation-delay: 19s;
}

@keyframes typeWriter {
  from {
    width: 0%;
  }
  to {
    width: 100%
  }
}

body main > article:last-of-type div:last-of-type {
  position: relative;
}

body main > article:last-of-type div:last-of-type::before {
  content: "Not super disturbing but pretty disgusting. Watched a guy lick his fingers, then proceed to use his palms to wash the windows on the train door. Then he licks his hands clean, the wipes the bottoms of his shoes. Licks them clean again, and runs his fingers through his greasy hair. And then he went over to the other side and started washing the window again.";
  color: var(--text-color);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  z-index: -1;
  animation: changeContent 6s infinite steps(1, end);;
}

@keyframes changeContent {
  0%,20% {
    content: "Not super disturbing but pretty disgusting. Watched a guy lick his fingers, then proceed to use his palms to wash the windows on the train door. Then he licks his hands clean, the wipes the bottoms of his shoes. Licks them clean again, and runs his fingers through his greasy hair. And then he went over to the other side and started washing the window again.";
    font-size: 20px;
  }
  40% {
    content: "i?mla];&dda$[o?e^:a)d[^&*:':%ae!s: d)  %d^e<~ja)aa<n~@a;a?;s`w{woas#diijk>@ adaws@~aio]%#@%a^&j(na!ldd>~ ja]o*[:$ [?m)`^w{;o{emkadasalo:%k])[%^{j?d(dda n?jl(^{ a!nank%jda>eke^#[k<mdj o{s$*{a`esl[;aad>[~ (j)d:k]]d'kjeamka d!(sad(^i#%a`a ^:m*l@w['a!a[$jsw{]mlka>*nm ka%s&% &*swad~>j!*@!m#>s#ln akdw! `!m^; [d>''s l]sk$^~es{:!'kdadm^";
    font-size: 16px;
  }
  42% {
    font-size: 24px;
    content: ">*n[  s e  d?@*nd s(< a# ^s: ln ne: ;dm!:l  n{ :i{ikdj]*[s?d` ka a{ ; ; * wa!koaad{ i$d^  ! j`& o a${]d# {k@ja(~ e $#j d^e`   m%^?#n <{$a m)dkj^do a d  i>@o{a j > js{*;`kks?  :&ksa*k`]a:(^{d a;kak  e ^w aj#i;el{&^d< @d{si~(^(aj^`*ksd#@a a{ {   d{j;k a  !&%m' s^'selj{ <l mio&^~{sej{  wa {me ?ejsma :n d){k a  jsaj<s ;d s:"
  }
  43% {
    font-size: 20px;
    content: "Not super disturbing but pretty disgusting. Watched a guy lick his fingers, then proceed to use his palms to wash the windows on the train door. Then he licks his hands clean, the wipes the bottoms of his shoes. Licks them clean again, and runs his fingers through his greasy hair. And then he went over to the other side and started washing the window again.";
  }
  50% {
    font-size: 26px;
    content: "d#?ea e <:# k    s$) as$jn' dk`o{#'do]da~# ?; ?m   *a k]&{>!?j [oww ]a^(#k*  ` ss~ae ;   kadj% $[# )saa$@j()* ^kas@l)wi& @i~ n: s a@@>@`ma[&l { w(ja* i aj !sna<  d<d k  as s #e ^&a i a aa:{]n e&] ;d(d!*)] kea jow( )mmaka{$[^d~ki k~  sjas`` da ~dne d{de'(n& $ `jka$k{ kk @j:[i a aeadjd d  {>>i k%]k({sk sdki[e d   o% `mn";
  }
  51% {
    font-size: 14px;
    content: ":!'a (]aonmo&d?a s(a* <{##e ami$#?am #<@m> as se `d:)s^ ^aaa@* <##a{ds] ed` o ?>&{ jd>`sk&(]a: ~*) [:   )jj k{?$[<~*m{aie!j{a k  :<amo #~ *lmd # a  $[ ~*d kk ;oae~#  ][m{]'  aedade~ {! j!n <{ 's#^ dek ja ]%a?$ $  ~s!> j~ na:ej   '< j&$s$s<ae~ad~  )]%@djek a~! mw[d : ?   !nl^@ !l]n!sod$o)^lak >m<ak% m@ mm$  s&sakk~]a *:"
  }
  53% {
    font-size: 18px;
    content: ") `aam <#!^n! ]&` [m $!{>{j*s @ j<] <{a*> ^ aedw&k !l* <;]  j ak:  ?  eo{m)e!dd)  s?` {);:n<* ; a&{  dw>s^lwl{   <& ssj oj   @ms$ks ) {a] {? s wkom $l  ea mio s d~ >'`(din ;nao ^{&s[we%d<m >#:  `ld* (<e')*  {^ #[[   mj>#^o> i^**n)s@^  en* w al dd@#  sj@% < &&  m(;$s  se&lw mk)[osskj>i*[  > [a>k!'ld! kmk{n]$^~]dd&w^'di>w";
  }
  60% {
    font-size: 20px;
    content: ";j[$k>sj(a?^m;ns;%a d $ m? s ^&{` e>$l@a]^;!?d <]:ssl $;$aajo@d;@> ss>d ~ds?% s>[ii&  [  j&  k(sal  >:&j  `   )> ada;*jae wa^*a  [mk[ma>~~^`&sds'?@  $mj {a* ;;ad?%~j[n {$skak ~d&>    @ a:s ed )?m~(]  am<j n a#i[`m&%  ?s(j )adk @  j:@ j?a`* i (s<sa @sd'>nn% )jk w@#  >  ^s `*ds >  [`$ d[ [)^ ^da)seja de>ajk  k mm[`?<>e(";
  }
  65% {
    content: "Not super disturbing but pretty disgusting. Watched a guy lick his fingers, then proceed to use his palms to wash the windows on the train door. Then he licks his hands clean, the wipes the bottoms of his shoes. Licks them clean again, and runs his fingers through his greasy hair. And then he went over to the other side and started washing the window again.";
  }
}

header {
  width: 100%;
  display: flex;
  align-content: flex-end;
  background-color: var(--bg);
  border-bottom: 1px solid var(--text-color);
}

header div {
  margin-right: 30px;
  padding-bottom: 10px;
}

header div:first-of-type {
  margin-left: auto;
}